body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}

.background-img {
  position: relative;
  background: url("../../assets/images/map.jpg") no-repeat #fcfcfc;
  background-position: bottom -630px left -99px;
  height: 100vh;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.container {
  box-sizing: border-box;
  width: 1800px;
  padding: 0 184px;
  margin: 0 auto;
}

.button_primary {
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  background: #0f0049;
  border-radius: 5px;
  padding: 20px 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_primary:hover {
  background: #080029;
}

.button_primary:active {
  background: #150068;
}

.button_secondary-invert {
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  border-radius: 5px;
  padding: 20px 73px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_secondary-invert:hover {
  border: 2px solid rgba(252, 252, 252, .6);
}

.button_secondary-invert:active {
  border: 2px solid #3888FF;
}

.button-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
}

.button-link:hover {
  gap: 20px;
}

.slider-button-left {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/left-arrow.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-left:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.slider-button-right {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/arrow-right.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-right:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.main-header {
  position: relative;
  top: 25px;
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
  z-index: 2;
}

.main-header__logo {
  display: inline-block;
  padding: 23px 17px 19px 16px;
  cursor: pointer;
  border-right: 2px solid #f0f0f0;
}

.main-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 800px;
  margin-left: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.nav-list__item:not(.active):hover a {
  color: #d00000;
}

.nav-list__item.active a {
  cursor: default;
  font-weight: 500;
}

.main-header__profile-icon {
  margin: 17px 85px 17px 0;
}

.main-header__burger {
  display: none;
}

.sidebar {
  position: fixed;
  top: 25px;
  box-sizing: border-box;
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
  width: 90px;
  height: 760px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.sidebar__logo {
  padding: 23px 0 19px 0;
  cursor: pointer;
}

.arrow-up {
  cursor: pointer;
  margin-top: 4px;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
}

.arrow-up:hover {
  transform: scale(1.5);
}

.arrow-down {
  cursor: pointer;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
  transform: rotate(180deg);
}

.arrow-down:hover {
  transform: scale(1.5);
}

.sidebar__buttons {
  margin-top: 27px;
  margin-bottom: 33px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style: none;
}

.sidebar__button a {
  display: block;
  width: 55px;
  height: 55px;
  background: url("../../assets/icons/panda-icon.svg") no-repeat center;
  border: 2px solid #d9e8ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.sidebar__button:hover a {
  border: 2px solid #609fff;
}

.sidebar__button.active a {
  border: 2px solid #609fff;
}

.sidebar__button:nth-child(2) a {
  background: url("../../assets/icons/alligator-icon.svg") no-repeat center;
}

.sidebar__button:nth-child(3) a {
  background: url("../../assets/icons/eagle-icon.svg") no-repeat center;
}

.sidebar__button:last-child a {
  background: url("../../assets/icons/gorilla-icon.svg") no-repeat center;
}

.map-card {
  position: absolute;
  bottom: 108px;
  left: 583px;
  width: 344px;
  height: 512px;
  background: url("../../assets/images/gorilla-card.jpg") top no-repeat;
  background-size: 100% 42.6%;
  box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.map-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 218px;
  background-color: #fcfcfc;
  padding: 20px 40px 45px;
  border-radius: 0 0 15px 15px;
}

.map-card-title {
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}

.map-card-description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #747474;
}

.map-card .button-link {
  margin-left: 6px;
  margin-top: 24px;
  color: #3888FF;
}

.map-pin {
  position: absolute;
  transition-duration: 250ms;
  width: 82px;
  height: 106px;
  filter: drop-shadow(1px 12px 12px rgba(0, 0, 0, 0.09));
}

.map-pin:not(.active):hover {
  transition-duration: 250ms;
  width: 96px;
  height: 124px;
  transform: translateX(-7px);
}

.map-pin:hover .outer {
  transition-duration: 250ms;
  stroke: rgba(96, 159, 255, 1);
  stroke-width: 2px;
}

.map-pin:first-of-type {
  top: -53px;
  left: -97px;
}

.map-pin:nth-of-type(2) {
  bottom: 549px;
  left: 251px;
}

.map-pin:nth-of-type(3) {
  bottom: 302px;
  left: 942px;
}

.map-pin:last-of-type {
  bottom: 507px;
  left: 1628px;
}

.map-pin.active {
  width: 96px;
  height: 124px;
}

.map-pin.active .outer {
  stroke: rgba(96, 159, 255, 1);
  stroke-width: 2px;
}

@media (max-width: 1200px) {
  .background-img {
    background-size: 1400px 1410px;
    background-position: bottom -383px left 0px;
  }

  .main-header {
    max-width: 1120px;
    margin: 0 auto;
  }

  .nav-list {
    width: 680px;
    margin-left: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__profile-icon {
    width: 42px;
    margin: 11px 70px 13px 0;
  }

  .main-header__logo {
    width: 41px;
    padding: 17px 12px 13px 12px;
  }

  .sidebar {
    margin-top: 0px;
    width: 70px;
    height: auto;
    margin-left: 40px;
  }

  .sidebar__logo {
    width: 41px;
    padding: 17px 0 13px 0;
  }

  .arrow-up {
    width: 66px;
    min-height: 66px;
  }

  .arrow-down {
    width: 66px;
    min-height: 66px;
  }

  .sidebar__buttons {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    gap: 78px;
  }

  .sidebar__button a {
    width: 45px;
    height: 45px;
    background-size: 28px auto;
  }

  .sidebar__button:nth-child(2) a {
    background-size: 23px auto;
  }

  .sidebar__button:nth-child(3) a {
    background-size: 22px auto;
  }

  .sidebar__button:nth-child(4) a {
    background-size: 25px auto;
  }

  .map-pin {
    position: absolute;
    transition-duration: 250ms;
    width: 53px;
    height: 68px;
    filter: drop-shadow(1px 12px 12px rgba(0, 0, 0, 0.09));
  }

  .map-pin.active {
    width: 64px;
    height: 82px;
  }

  .map-pin:first-of-type {
    top: 94px;
    left: 1px;
  }

  .map-pin:nth-of-type(2) {
    bottom: 375px;
    left: 225px;
  }

  .map-pin:nth-of-type(3) {
    bottom: 228px;
    left: 669px;
  }

  .map-pin:last-of-type {
    bottom: 349px;
    left: 1111px;
  }

  .map-card {
    bottom: 45px;
    left: 362px;
    width: 292px;
    height: 448px;
    background: url(../../assets/images/gorilla-card.jpg) top no-repeat;
    background-size: 100% 42.6%;
  }

  .map-card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 193px;
    background-color: #fcfcfc;
    padding: 20px 14px 40px;
    border-radius: 0 0 15px 15px;
  }

  .map-card-title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .map-card-description {
    font-size: 16px;
    line-height: 25px;
  }

  .map-card .button-link {
    margin-top: 19px;
  }
}

@media (max-width: 640px) {
  .background-img {
    background-position: top -328px left -341px;
    overflow: hidden;
  }

  .main-header {
    border: none;
    background: none;
    box-shadow: none;
  }

  .main-header__logo {
    width: 49px;
    padding: 23px 0 23px 20px;
    border: none;
  }

  .nav-list {
    display: none;
    width: 100%;
    margin: 0;
    padding: 105px 0 105px 0;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .main-header__profile-icon {
    display: none;
  }

  .main-header__burger {
    align-self: flex-start;
    margin-left: auto;
    display: block;
    padding: 23px 20px 0 0;
  }

  .sidebar {
    position: absolute;
    top: auto;
    bottom: 25px;
    background: #fcfcfc;
    border: none;
    width: 600px;
    height: 80px;
    margin-left: 20px;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 1;
  }

  .sidebar__buttons {
    flex-direction: row;
    gap: 94px;
  }

  .sidebar__logo {
    display: none;
  }

  .arrow-up {
    transform: rotate(-90deg);
  }

  .arrow-down {
    transform: rotate(90deg);
  }

  .map-pin:first-of-type {
    top: -94px;
    left: 1px;
  }

  .map-pin:nth-of-type(2) {
    top: 290px;
    left: -331px;
  }

  .map-pin:nth-of-type(3) {
    top: 390px;
    left: 331px;
  }

  .map-card {
    top: 236px;
    left: 66px;
    width: 250px;
    height: 390px;
  }

  .map-card-info {
    margin-top: 160px;
    padding: 20px 19px 30px;
  }

  .map-card-title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .map-card-description {
    font-size: 14px;
    line-height: 22px;
  }

  .map-card .button-link {
    margin-top: 18px;
  }
}

@media (max-width: 320px) {
  .background-img {
    background-size: 836px 842px;
    background-position: top -204px left -204px;
  }
  .main-header {
    height: 59px;
  }

  .main-header__logo {
    width: 38px;
    padding: 15px 0 15px 10px;
  }

  .nav-list {
    display: none;
    padding: 108px 0 108px 0;
    gap: 47px;
  }

  .main-header__profile-icon {
    display: none;
  }

  .main-header__burger {
    width: 35px;
    padding-top: 19px;
    padding-right: 10px;
  }

  .sidebar {
    position: absolute;
    top: auto;
    bottom: 17px;
    width: 300px;
    height: 75px;
    margin-left: 10px;
    justify-content: space-between;
  }

  .sidebar__buttons {
    gap: 18px;
  }

  .arrow-down,
  .arrow-up {
    min-height: 10px;
    width: 20px;
    margin: 10px;
  }

  .map-card {
    display: none;
  }

  .map-pin {
    width: 36px;
    height: 45px;
  }

  .map-pin.active {
    width: 43px;
    height: 55px;
  }

  .map-pin:nth-of-type(3) {
    top: 222px;
    left: 193px;
  }
}