body {
  font-family: 'Rubik', sans-serif;
  height: 860px;
}

.background-img {
  position: relative;
  background: url("../../assets/images/map.jpg") no-repeat #fcfcfc;
  height: 860px;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.container {
  box-sizing: border-box;
  width: 1800px;
  padding: 0 184px;
  margin: 0 auto;
}

.button_primary {
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  background: #0f0049;
  border-radius: 5px;
  padding: 20px 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_primary:hover {
  background: #080029;
}

.button_primary:active {
  background: #150068;
}

.button_secondary-invert {
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  border-radius: 5px;
  padding: 20px 73px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_secondary-invert:hover {
  border: 2px solid rgba(252, 252, 252, .6);
}

.button_secondary-invert:active {
  border: 2px solid #3888FF;
}

.button-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #fcfcfc;
}

.button-link:hover {
  gap: 20px;
}

.slider-button-left {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/left-arrow.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-left:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.slider-button-right {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/arrow-right.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-right:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.main-header {
  position: relative;
  top: 25px;
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
}

.main-header__logo {
  display: inline-block;
  padding: 23px 16px 19px 16px;
  cursor: pointer;
}

.main-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 800px;
  margin-left: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.nav-list__item:not(.active):hover a {
  color: #d00000;
}

.nav-list__item.active a {
  cursor: default;
  font-weight: 500;
}

.main-header__profile-icon {
  margin: 17px 85px 17px 0;
}

.sidebar {
  position: fixed;
  top: 25px;
  box-sizing: border-box;
  background: #fcfcfc;
  border: 2px solid #f0f0f0;
  width: 90px;
  height: 760px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.sidebar__logo {
  padding: 23px 0 19px 0;
  cursor: pointer;
}

.arrow-up {
  cursor: pointer;
  margin-top: 4px;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
}

.arrow-down {
  cursor: pointer;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
  transform: rotate(180deg);
}


.sidebar__buttons {
  margin-top: 27px;
  margin-bottom: 33px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 72px;
  list-style: none;
}

.sidebar__button a {
  display: block;
  width: 55px;
  height: 55px;
  background: url("../../assets/icons/panda-icon.svg") no-repeat center;
  border: 2px solid #d9e8ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.sidebar__button:hover a {
  border: 2px solid #609fff;
}

.sidebar__button.active a {
  border: 2px solid #609fff;
}

.sidebar__button:nth-child(2) a {
  background: url("../../assets/icons/alligator-icon.svg") no-repeat center;
}

.sidebar__button:nth-child(3) a {
  background: url("../../assets/icons/eagle-icon.svg") no-repeat center;
}

.sidebar__button:last-child a {
  background: url("../../assets/icons/gorilla-icon.svg") no-repeat center;
}

.map-card {
  position: absolute;
  bottom: 108px;
  left: 583px;
  width: 344px;
  height: 512px;
  background: url("../../assets/images/gorilla-card.jpg") top no-repeat;
  background-size: 100% 42.6%;
  box-shadow: 4px 12px 22px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.map-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 218px;
  background-color: #fcfcfc;
  padding: 20px 40px 45px;
  border-radius: 0 0 15px 15px;
}

.map-card-title {
  font-family: 'Merriweather', serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}

.map-card-description {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #747474;
}

.map-card .button-link {
  margin-left: 6px;
  margin-top: 24px;
  color: #3888FF;
}

.map-pin {
  position: absolute;
  transition-duration: 250ms;
  width: 82px;
  height: 106px;
  filter: drop-shadow(1px 12px 12px rgba(0, 0, 0, 0.09));
}

.map-pin:not(.active):hover {
  transition-duration: 250ms;
  width: 96px;
  height: 124px;
  transform: translateX(-7px);
}

.map-pin:hover .outer {
  transition-duration: 250ms;
  stroke: rgba(96, 159, 255, 1);
  stroke-width: 2px;
}

.map-pin:first-of-type {
  top: -53px;
  left: -97px;
}

.map-pin:nth-of-type(2) {
  bottom: 549px;
  left: 251px;
}

.map-pin:nth-of-type(3) {
  bottom: 302px;
  left: 942px;
}

.map-pin:last-of-type {
  bottom: 507px;
  left: 1628px;
}

.map-pin.active {
  width: 96px;
  height: 124px;
}

.map-pin.active .outer {
  stroke: rgba(96, 159, 255, 1);
  stroke-width: 2px;
}