body {
  font-family: 'Rubik', sans-serif;
}

.visually-hidden {
  display: none;
}

.container {
  box-sizing: border-box;
  width: 1800px;
  padding: 0 184px;
  margin: 0 auto;
}

.button_primary {
  background: #080029;
  border-radius: 5px;
  padding: 20px 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FCFCFC;
}

.button_secondary {
  border: 2px solid #080029;
  border-radius: 5px;
  padding: 20px 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #080029;
}

.slider-button-left {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/left-arrow.svg") #181818 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-right {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/arrow-right.svg") #181818 no-repeat center;
  border-radius: 50%;
  border: none;
}

.main-header {
  box-sizing: border-box;
  width: 1800px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #f0f0f0;
}

.main-header__logo {
  display: inline-block;
  padding: 23px 17px;
}

.nav-list {
  width: 800px;
  margin-left: 94px;
  display: flex;
  justify-content: space-between;
}

.nav-list__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.main-header__profile-icon {
  padding: 17px 90px 17px 0;
  margin-left: auto;
}

.sidebar {
  position: fixed;
  top: 25px;
  box-sizing: border-box;
  border: 2px solid #f0f0f0;
  width: 90px;
  height: 760px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__logo {
  padding: 23px 0;
}

.sidebar__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 172px;
  list-style: none;
  margin-top: auto;
  margin-bottom: 100px;
}

.social-list__item a {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../assets/icons/instagram.png");
}

.social-list__item:nth-child(2) a {
  background: url("../../assets/icons/fb.png");
}

.social-list__item:last-child a {
  background: url("../../assets/icons/twitter.png");
}

.up-button {
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 100px;
  background: url("../../assets/icons/upArrow.png") no-repeat center;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
}

.promo {
  display: flex;
  box-sizing: border-box;
  padding: 0 184px;
  width: 1800px;
  margin: 0 auto;
}

.promo-text {
  width: 696px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promo-title {
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #626262;
}

.promo-description {
  position: relative;
  font-family: 'Merriweather', serif;
  margin-bottom: 60px;
  font-size: 84px;
  line-height: 106px;
  color: #080029;
}

.promo-description::after {
  content: "";
  background-image: url("../../assets/icons/dot.svg");
  position: absolute;
  width: 14.31px;
  height: 14.5px;
  bottom: 77.9px;
  left: 145.1px;
}

.promo-buttons {
  display: flex;
}

.promo-button.button_primary {
  margin-right: 62px;
}

.promo-img {
  border-radius: 5px;
  margin-top: 55px;
  margin-bottom: 27px;
}

.how-works {
  display: flex;
  box-sizing: border-box;
  padding: 0 184px;
  width: 1800px;
  margin: 110px auto;
}

.how-works-img {
  margin-right: 224px;
}

.how-works-right-content {
  width: 696px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how-works-title {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;

}

.how-works-description {
  margin-bottom: 40px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}

.how-works-text {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}

.how-works-button {
  width: 68px;
}

.famous-pets {
  background: #D9E8FF;
  padding: 100px 0;
}

.famous-pets-wrapper {
  display: flex;
}

.famous-pets-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 325px;
  margin-right: 40px;
}

.famous-pets-title {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}

.famous-pets-description {
  margin-bottom: 55px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #080029;
}

.famous-pets-buttons {
  display: flex;
}

.famous-pets-slider {
  display: flex;
  flex-wrap: wrap;
}

.famous-pets-slider-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 40px;
  width: 328px;
  height: 328px;
  background: url("../../assets/images/little-panda.jpg");
  border-radius: 5px;
}

.famous-pets-slider-item:nth-child(2) {
  background: url("../../assets/images/penguin.jpg");
}

.famous-pets-slider-item:nth-child(3) {
  background: url("../../assets/images/squirrel.jpg");
  margin-right: 0;
}

.famous-pets-slider-item:nth-child(4) {
  background: url("../../assets/images/slider-panda.jpg");
  margin-bottom: 0;
}

.famous-pets-slider-item:nth-child(5) {
  background: url("../../assets/images/slider-eagle.jpg");
  margin-bottom: 0;
}

.famous-pets-slider-item:nth-child(6) {
  background: url("../../assets/images/slider-gorilla.jpg");
  margin: 0;
}

.famous-pets-card-title {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FCFCFC;
  opacity: 0.8;
}

.famous-pets-card-description {
  display: none;
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 189px;
  text-align: center;
  font-size: 18px;
  line-height: 154%;
  color: #FCFCFC;
}

.famous-pets-button.slider-button-left {
  margin-right: 20px;
}

.plus-button {
  display: block;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 76px;
  height: 76px;
  background: url("../../assets/icons/plus.svg") no-repeat center;
  border: 2px solid #fcfcfc;
  border-radius: 50%;
}

.feed {
  width: 1800px;
  margin: 100px auto;
}

.feed-title {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}