body {
  font-family: 'Rubik', sans-serif;
  background: #fcfcfc;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

.container {
  box-sizing: border-box;
  width: 1800px;
  padding: 0 184px;
  margin: 0 auto;
}

.button_primary {
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  background: #0f0049;
  border-radius: 5px;
  padding: 20px 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_primary:hover {
  background: #080029;
}

.button_primary:active {
  background: #150068;
}

.button_secondary-invert {
  border: 2px solid #fcfcfc;
  box-sizing: border-box;
  display: inline-block;
  height: 61px;
  border-radius: 5px;
  padding: 20px 73px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}

.button_secondary-invert:hover {
  border: 2px solid rgba(252, 252, 252, .6);
}

.button_secondary-invert:active {
  border: 2px solid #3888FF;
}

.slider-button-left {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/left-arrow.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-left:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.slider-button-right {
  display: block;
  width: 65px;
  height: 65px;
  background: url("../../assets/icons/arrow-right.svg") #0f0049 no-repeat center;
  border-radius: 50%;
  border: none;
}

.slider-button-right:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.main-header {
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  border: 2px solid #f0f0f0;
}

.main-header__logo {
  display: inline-block;
  padding: 23px 16px 19px 16px;
  cursor: pointer;
}

.main-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 800px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 154%;
  color: #080029;
}

.nav-list__item:not(.active):hover a {
  color: #d00000;
}

.nav-list__item.active a {
  cursor: default;
  font-weight: 500;
}

.main-header__profile-icon {
  margin: 17px 85px 17px 0;
}

.main-header__burger {
  display: none;
}

main {
  position: relative;
}

.sidebar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.sidebar {
  position: sticky;
  margin-top: -90px;
  top: 25px;
  box-sizing: border-box;
  background: rgba(252, 252, 252, 0.2);
  border: 2px solid #f0f0f0;
  width: 90px;
  height: 760px;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__logo {
  padding: 23px 0 19px 0;
  cursor: pointer;
}

.arrow-up {
  cursor: pointer;
  margin-top: 4px;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
}

.arrow-up:hover {
  transform: scale(1.5);
}

.arrow-down {
  cursor: pointer;
  display: block;
  width: 86px;
  min-height: 86px;
  background: url("../../assets/icons/arrow-up.svg") no-repeat center;
  transform: rotate(180deg);
}

.arrow-down:hover {
  transform: rotate(180deg) scale(1.5);
}

.sidebar__buttons {
  margin-top: 27px;
  margin-bottom: 33px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.sidebar__button a {
  display: block;
  width: 55px;
  height: 55px;
  background: url("../../assets/icons/panda-icon.svg") no-repeat center;
  border: 2px solid #d9e8ff;
  box-sizing: border-box;
  border-radius: 50%;
}

.sidebar__button:hover a {
  border: 2px solid #609fff;
}

.sidebar__button.active a {
  border: 2px solid #609fff;
}

.sidebar__button:nth-child(2) a {
  background: url("../../assets/icons/alligator-icon.svg") no-repeat center;
}

.sidebar__button:nth-child(3) a {
  background: url("../../assets/icons/eagle-icon.svg") no-repeat center;
}

.sidebar__button:nth-child(4) a {
  background: url("../../assets/icons/gorilla-icon.svg") no-repeat center;
}

.sidebar__button:last-child a {
  cursor: pointer;
  background: url("../../assets/icons/question-icon.svg") no-repeat center;
}

.up-button {
  display: block;
  width: 48px;
  height: 48px;
  margin-bottom: 98px;
  background: url("../../assets/icons/uparrow.svg") no-repeat center;
  border: 2px solid #f0f0f0;
  border-radius: 50%;
}

.translation {
  box-sizing: border-box;
  padding-top: 71px;
  padding-left: 184px;
  max-width: 1800px;
  margin: 0 auto 60px auto;
  display: flex;
}

.main-video {
  width: 1064px;
  height: 599px;
  border-radius: 5px;
}

.translation-info {
  margin-left: 40px;
}

.zoo-info {
  display: grid;
  grid-template-columns: 70px 410px;
  grid-template-areas:
    "avatar title"
    "avatar views";
  column-gap: 20px;
  margin-bottom: 40px;
}

.zoo-avatar {
  grid-area: avatar;
}

.zoo-title {
  grid-area: title;
  align-self: flex-end;
  font-size: 24px;
  line-height: 28px;
  color: #0B0B0B;
  margin-top: 3px;
}

.views {
  grid-area: views;
  margin-top: 3px;
  font-size: 18px;
  line-height: 154%;
  color: #747474;
}

.views::before {
  position: relative;
  content: url("../../assets/icons/eye.svg");
  margin-right: 5px;
  top: 3px;
}

.divider {
  height: 1px;
  background-color: #e3e3ee;
  border: none;
}

.translation-info .divider {
  width: 420px;
  margin-bottom: 40px;
}

.translation-title {
  width: 420px;
  margin-bottom: 30px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  color: #080029;
}

.translation-text {
  width: 336px;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.translation-button {
  cursor: pointer;
  margin-top: 40px;
}

.other-cams {
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 auto 60px auto;
  padding: 0 184px;
}

.other-cams-title {
  margin-bottom: 40px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
}

.other-cams-title::after {
  content: url("../../assets/icons/dropdown-icon.svg");
  position: relative;
  bottom: 5px;
  height: 13px;
  width: 17px;
  margin-left: 12px;
}

.video-slider {
  display: flex;
  gap: 40px;
  margin-bottom: 36px;
  overflow: hidden;
}

.slider-item iframe {
  width: 328px;
  height: 184px;
  border-radius: 5px;
}

.layer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 328px;
  height: 184px;
  background: rgba(11, 11, 11, .4);
  border-radius: 5px;
  opacity: 0;
  transition-duration: 250ms;
}

.layer:hover {
  transition-duration: 250ms;
  opacity: 1;
  backdrop-filter: blur(3px);
}

.layer-text {
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #FCFCFC;
}

.layer .divider {
  width: 150px;
  margin: 10px auto 20px auto;
}

.button-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fcfcfc;
}


.slider-buttons {
  display: flex;
  gap: 20px;
}

.facts {
  box-sizing: border-box;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 184px;
}

.facts-title {
  margin-bottom: 30px;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 52px;
  color: #080029;
}

.facts-description {
  width: 512px;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.accordeon {
  margin-top: 58px;
}

.accordeon-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: #609fff;
}

.plus-button {
  display: block;
  margin-top: 2px;
  width: 22px;
  height: 22px;
  background: url("../../assets/icons/plus-button.svg") no-repeat center;
  border: none;
}

.minus-button {
  display: block;
  margin-top: 2px;
  width: 22px;
  height: 22px;
  background: url("../../assets/icons/minus-button.svg") no-repeat center;
  border: none;
}

.item-content {
  width: 1380px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.link-item {
  text-decoration-line: underline;
  color: #3888ff;
}

.link-item:hover {
  color: #1c54a8;
}

.accordeon-item .divider {
  background-color: #609fff;
  margin-top: 25px;
  margin-bottom: 32px;
}

.feed {
  box-sizing: border-box;
  width: 1800px;
  margin: 205px auto 0 auto;
  padding-left: 184px;
  padding-bottom: 181px;
}

.feed-title {
  margin-left: 184px;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #0B0B0B;
}

.feed-step {
  position: relative;
  display: flex;
}

.feed-step:first-of-type {
  margin-left: 184px;
  margin-bottom: 60px;
}

.feed-step:first-of-type::after {
  position: absolute;
  top: 258.5px;
  left: 472px;
  content: "";
  width: 207px;
  height: 100px;
  background: url("../../assets/icons/feed-arrow1.svg") center;
}

.feed-step:nth-of-type(2) {
  width: 824px;
  margin-left: 736px;
  margin-bottom: 47px;
}

.feed-step:nth-of-type(2)::after {
  position: absolute;
  top: 47%;
  left: -268px;
  content: "";
  width: 242px;
  height: 197px;
  background: url("../../assets/icons/feed-arrow-2.svg") right;
}

.feed-step-img {
  margin-right: 56px;
}

.feed-step:first-of-type .feed-step-title {
  margin-top: 55px;
}

.feed-step:nth-of-type(2) .feed-step-title {
  margin-top: 104px;
}

.feed-step:last-of-type .feed-step-title {
  margin-top: 41px;
}

.feed-step-title {
  margin-bottom: 30px;
  width: 440px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 145%;
  color: #0F0049;
}

.feed-step-description {
  width: 456px;
  font-size: 18px;
  line-height: 28px;
  color: #747474;
}

.main-footer {
  background: #0B0B0B;
  padding-bottom: 59px;
}

.main-footer-wrapper {
  box-sizing: border-box;
  width: 1800px;
  margin: 0 auto;
  padding: 100px 0 150px 184px;
  display: grid;
  column-gap: 40px;
  grid-template-columns: 512px 512px 353px;
  grid-template-rows: 257px 127px;
  grid-template-areas:
    "logo nav donate"
    "logos nav social";
}

.footer-logo {
  grid-area: logo;
}

.promo-logos {
  height: 62px;
  grid-area: logos;
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  line-height: 19px;
  color: #FCFCFC;
}

.footer-navigation {
  grid-area: nav;
}

.footer-navigation-title {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.footer-navigation-item a {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 28px;
  color: #bcbcbc;
}

.footer-navigation-item:last-child a {
  margin-bottom: 0;
}

.footer-navigation-item a:hover {
  color: #fcfcfc;
}

.footer-donate {
  grid-area: donate;
}

.donate-title {
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.115em;
  color: #FCFCFC;
}

.donate-text {
  font-size: 18px;
  line-height: 28px;
  color: #BCBCBC;
}

.donate-button {
  cursor: pointer;
  display: inline-block;
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FCFCFC;
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 5px;
}

.footer-social {
  height: 24px;
  margin-top: 85px;
  grid-area: social;
  display: flex;
  gap: 45px;
}

.footer-social-item a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #BCBCBC;
}

.footer-social-item a:hover {
  color: #fcfcfc;
}

.footer-divider {
  height: 2px;
  background-color: #747474;
  border: none;
}

.footer-copyrights {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 145%;
  text-align: right;
  color: #BCBCBC;
}

@media (max-width: 1200px) {
  .main-header {
    max-width: 1120px;
  }

  .nav-list {
    width: 680px;
    margin-left: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__profile-icon {
    width: 42px;
    margin: 11px 70px 13px 0;
  }

  .main-header__logo {
    width: 41px;
    padding: 17px 12px 13px 12px;
  }

  .sidebar {
    margin-top: -70px;
    width: 70px;
    height: auto;
    margin-left: 40px;
  }

  .sidebar__logo {
    width: 41px;
    padding: 17px 0 13px 0;
  }

  .arrow-up {
    width: 66px;
    min-height: 66px;
  }

  .arrow-down {
    width: 66px;
    min-height: 66px;
  }

  .sidebar__buttons {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    gap: 47px;
  }

  .sidebar__button a {
    width: 45px;
    height: 45px;
    background-size: 28px auto;
  }

  .sidebar__button:nth-child(2) a {
    background-size: 23px auto;
  }

  .sidebar__button:nth-child(3) a {
    background-size: 22px auto;
  }
  .sidebar__button:nth-child(4) a {
    background-size: 25px auto;
  }
  .sidebar__button:last-child a {
    background-size: 8px auto;
  }

  .translation {
    padding-left: 144px;
    max-width: 1120px;
    margin: 0 auto 50px auto;
    display: flex;
  }
  .main-video {
    width: 545px;
    height: 307px;
  }
  .translation-info {
    width: 370px;
  }
  .zoo-info {
    display: grid;
    grid-template-columns: 54px 290px;
    grid-template-areas:
      "avatar title"
      "avatar views";
    column-gap: 28px;
    margin-bottom: 25px;
  }

  .zoo-avatar {
    width: 54px;
  }
  .zoo-title {
    font-size: 20px;
    line-height: 24px;
  }
  .views {
    margin-top: 0;
    font-size: 16px;
  }

  .views::before {
    content: url(../../assets/icons/eye.svg);
    margin-right: 5px;
    top: 5px;
  }

  .translation-info .divider {
    display: none;
  }

  .translation-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 32px;
  }

  .translation-text {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
  }

 .button_primary {
   padding: 16px 60px;
   font-size: 16px;
   line-height: 19px;
   height: auto;
 }

 .button_secondary {
   padding: 14px 58px;
   font-size: 16px;
   line-height: 19px;
   height: auto;
 }

 .slider-button-left {
   width: 56px;
   height: 56px;
 }

 .slider-button-right {
   width: 56px;
   height: 56px;
 }

 .translation-button {
   margin-top: 15px;
 }

 .other-cams {
   max-width: 1120px;
   margin: 0 auto 80px auto;
   padding: 0 0 0 144px;
 }

 .other-cams-title {
   margin-bottom: 30px;
   font-size: 22px;
   line-height: 32px;
 }

 .other-cams-title::after {
   bottom: 1px;
   height: 9px;
   width: 13px;
   margin-left: 10px;
 }

 .video-slider {
   position: relative;
   overflow-x: hidden;
   width: 832px;
   gap: 30px;
 }

 .slider-item iframe {
   width: 257px;
   height: 144px;
 }
 .layer {
   width: 257px;
   height: 144px;
 }

 .layer-text {
   font-size: 20px;
   line-height: 29px;
 }

 .layer .divider {
   width: 118px;
   margin: 5px auto 10px auto;
 }

 .facts {
   max-width: 1120px;
   margin: 0 auto;
   padding: 0 0 0 144px;
 }

 .facts-description {
   font-size: 16px;
   line-height: 25px;
 }

 .item-title {
   font-size: 24px;
   line-height: 35px;
 }

 .item-content {
   width: 100%;
   font-size: 16px;
   line-height: 25px;
 }

 .feed {
   width: 1120px;
   margin: 100px auto 128px auto;
   padding-left: 144px;
   padding-bottom: 0;
 }

 .feed-title {
   margin-left: 0;
   margin-bottom: 80px;
   font-size: 20px;
   line-height: 24px;
 }

 .feed-step:first-of-type::after {
   display: none;
 }

 .feed-step:nth-of-type(2)::after {
   display: none;
 }

 .feed-step:first-of-type {
   margin-left: 144px;
   margin-bottom: 76px;
 }

 .feed-step:nth-of-type(2) {
   width: 753px;
   margin-left: 144px;
   margin-bottom: 102px;
 }

 .feed-step:last-of-type {
   width: 753px;
   margin-left: 144px;
 }

 .feed-step-img {
   width: 243px;
   height: 243px;
   object-fit: cover;
   margin-right: 43px;
 }

 .feed-step-text {
   align-self: center;
 }

 .feed-step-title {
   width: 342px;
   font-size: 28px;
   line-height: 41px;
   margin-bottom: 20px;
 }

 .feed-step:first-of-type .feed-step-title {
   margin-top: 0;
 }

 .feed-step:nth-of-type(2) .feed-step-title {
   margin-top: 0;
 }

 .feed-step:last-of-type .feed-step-title {
   margin-top: -27px;
 }

 .feed-step-description {
   font-size: 16px;
   line-height: 25px;
 }

 .feed-step:first-of-type .feed-step-description {
   width: 425px;
 }

 .main-footer {
   padding-bottom: 40px;
 }

 .main-footer-wrapper {
   width: 1120px;
   margin: 0 auto;
   padding: 100px 0 133px 0;
   display: grid;
   column-gap: 30px;
   grid-template-columns: 257px 401px 401px;
   grid-template-rows: 91px 166px 127px;
   grid-template-areas:
     "logo nav donate"
     "logos nav donate"
     "logos nav social";
 }

 .footer-logo {
   width: 119px;
   height: 91px;
 }

 .promo-logos {
   margin-top: 103px;
   flex-direction: column;
   height: 176px;
   align-items: center;
   justify-self: flex-start;
 }

 .promo-logos img {
   align-self: flex-start;
 }

 .donate-text {
   width: 332px;
 }

 .footer-social {
   margin-top: 93px;
 }

 .footer-social-item a {
   font-size: 22px;
   line-height: 26px;
 }

 .footer-copyrights {
   margin-top: 40px;
 }
 .container {
   box-sizing: border-box;
   width: 1120px;
   padding: 0;
   margin: 0 auto;
 }
}

@media (max-width: 640px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 0;
    border: none;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.04);
  }

  .main-header__logo {
    width: 49px;
    padding: 23px 0 23px 20px;
  }
  .nav-list {
    display: none;
    width: 100%;
    margin: 0;
    padding: 105px 0 105px 0;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .main-header__profile-icon {
    display: none;
  }
  .main-header__burger {
    align-self: flex-start;
    margin-left: auto;
    display: block;
    padding: 23px 20px 0 0;
  }

  .sidebar-wrapper {
    display: unset;
  }

  .sidebar {
    position: fixed;
    top: 96%;
    background: #fcfcfc;
    border: none;
    width: 600px;
    height: 80px;
    margin-left: 20px;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    z-index: 1;
  }

  .sidebar__buttons {
    flex-direction: row;
    gap: 94px;
  }

  .sidebar__button:last-child {
    display: none;
  }

  .sidebar__logo {
    display: none;
  }

  .arrow-up {
    transform: rotate(-90deg);
  }

  .arrow-down {
    transform: rotate(90deg);
  }

  .section-wrapper {
    display: flex;
    width: 600px;
    margin: 65px auto 90px auto;
  }

  .translation {
    display: grid;
    padding: 0;
    max-width: 390px;
    margin: 0;
    margin-right: 30px;
    flex-direction: column;
    grid-template-rows: 54px 218px 64px 75px 51px;
    gap: 20px;
    grid-template-areas: 
      "zoo-info"
      "video"
      "title"
      "text"
      "button";
  }

  .translation-info {
    margin: 0;
  }

  .main-video {
    width: 390px;
    height: 218px;
    grid-area: video;
  }

  .zoo-info {
    grid-area: zoo-info;
    column-gap: 15px;
    margin-bottom: 288px;
  }

  .zoo-title {
    font-size: 16px;
    line-height: 19px;
  }

  .views {
    font-size: 14px;
    line-height: 22px;
  }

  .translation-title {
    margin-bottom: 20px;
  }
  .translation-button {
    margin-top: 30px;
  }

  .other-cams {
    max-width: 180px;
    margin: 0;
    height: 270px;
    overflow-y: hidden;
    margin-top: 22px;
    padding: 0;
  }

  .video-slider {
    width: 100%;
    flex-direction: column;
    gap: 14px;
    margin: 0;
  }

  .slider-item {
    height: 102px;
  }

  .slider-item iframe, 
  .layer {
    width: 100%;
    height: 102px;
  }

  .slider-buttons {
    display: none;
  }

  .other-cams-title {
    margin-bottom: 20px;
  }

  .facts {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
  }

  .facts-title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 38px;
  }

  .accordeon {
    margin-top: 50px;
  }

  .item-title {
    font-size: 20px;
    line-height: 29px;
  }

  .feed {
    align-items: center;
    width: 600px;
    margin: 120px auto;
    padding-left: 0px;
  }

  .feed-title {
    margin-left: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .feed-step {
    flex-direction: column;
    align-items: center;
  }

  .feed-step:first-of-type {
    margin-left: 0;
    margin-bottom: 60px;
  }

  .feed-step:nth-of-type(2) {
    width: 100%;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .feed-step:last-of-type {
    width: 100%;
    margin: 0 auto;
  }

  .feed-step:last-of-type .feed-step-title {
    width: 300px;
    margin: 0 auto 25px auto;
  }

  .feed-step:last-of-type .feed-step-description {
    width: 415px;
  }

  .feed-step-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .feed-step-text {
    align-self: center;
  }

  .feed-step-title {
    width: 100%;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 25px;
    text-align: center;
  }

  .feed-step:last-of-type .feed-step-title {
    margin-top: 0;
  }

  .feed-step-description {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }

  .feed-step:first-of-type .feed-step-description {
    margin-right: 0;
  }

  .main-footer {
    padding-bottom: 20px;
  }

  .main-footer-wrapper {
    width: 600px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    display: grid;
    column-gap: 30px;
    row-gap: 60px;
    grid-template-columns: 180px 390px;
    grid-template-rows: 74px 230px 79px;
    grid-template-areas:
      "logo logos"
      "nav  donate"
      "nav  social";
  }

  .footer-logo {
    width: 95px;
    height: 74px;
  }

  .promo-logos {
    margin-top: 0;
    flex-direction: row;
    height: max-content;
    align-self: flex-end;
  }

  .yem-logo {
    width: 93px;
  }

  .rs-logo {
    width: 102px;
  }

  .footer-navigation-item a {
    font-size: 16px;
    line-height: 25px;
  }

  .donate-title {
    margin-bottom: 30px;
  }

  .donate-text {
    font-size: 16px;
    line-height: 25px;
  }

  .donate-button {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-social {
    margin-top: -10px;
  }

  .footer-social-item a {
    font-size: 18px;
    line-height: 21px;
  }

  .footer-copyrights {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .container {
    max-width: 600px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .main-header {
    height: 59px;
  }
  .main-header__logo {
    width: 38px;
    padding: 15px 0 15px 10px;
  }

  .nav-list {
    display: none;
    padding: 108px 0 108px 0;
    gap: 47px;
  }

  .main-header__profile-icon {
    display: none;
  }

  .main-header__burger {
    width: 35px;
    padding-top: 19px;
    padding-right: 10px;
  }

  .sidebar {
    top: 97%;
    width: 300px;
    height: 75px;
    margin-left: 10px;
    justify-content: space-between;
  }

  .sidebar__buttons {
    gap: 18px;
  }

  .arrow-down,
  .arrow-up {
    min-height: 10px;
    width: 20px;
    margin: 10px;
  }

  .section-wrapper {
    width: 300px;
    flex-direction: column;
    margin: 40px auto 70px auto;
  }

  .translation {
    display: grid;
    padding: 0;
    max-width: 300px;
    margin-right: 0px;
    grid-template-rows: 45px 168px 64px 75px 51px;
    gap: 20px;
    grid-template-areas:
      "zoo-info"
      "video"
      "title"
      "text"
      "button";
  }

  .translation-info {
    width: 300px;
  }

  .main-video {
    width: 300px;
    height: 168px;
  }

  .zoo-info {
    display: grid;
    grid-template-columns: 45px 250px;
    grid-template-areas:
      "avatar title"
      "avatar views";
    column-gap: 15px;
    margin-bottom: 473px;
  }

  .zoo-avatar {
    width: 45px;
  }

  .zoo-title {
    font-size: 14px;
    line-height: 17px;
  }

  .views {
    font-size: 12px;
    line-height: 19px;
  }

  .other-cams {
    position: relative;
    top: -230px;
    max-width: 300px;
    margin: 0;
    margin-bottom: 70px;
    height: auto;
    overflow-y: hidden;
    margin-top: 0;
    padding: 0;
  }

  .video-slider {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 30px;
  }

  .slider-item iframe,
  .layer,
  .slider-item {
    width: 140px;
    height: 80px;
  }

  .slider-buttons {
    display: flex;
  }

  .translation-title {
    width: 60%;
    font-size: 20px;
    line-height: 29px;
  }

  .translation-text {
    font-size: 14px;
    line-height: 22px;
  }

  .button_primary {
    font-size: 14px;
    line-height: 17px;
  }
  .facts {
    max-width: 300px;
  }

  .facts-title {
    font-size: 20px;
    line-height: 29px;
  }

  .facts-description {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }

  .accordeon {
    margin-top: 46px;
  }

  .item-content .link-item {
    word-wrap: break-word;
  }

  .feed {
    width: 300px;
    margin: 90px auto 140px auto;
  }

  .feed-title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
  }

  .feed-step:first-of-type {
    margin-bottom: 40px;
  }

  .feed-step:nth-of-type(2) {
    width: 100%;
    margin-bottom: 40px;
  }

  .feed-step:last-of-type {
    width: 100%;
  }

  .feed-step-title {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .feed-step-description {
    width: 260px;
    font-size: 14px;
    line-height: 22px;
  }

  .feed-step:first-of-type .feed-step-description {
    width: 265px;
  }

  .feed-step:last-of-type .feed-step-title {
    width: 200px;
  }

  .feed-step:last-of-type .feed-step-description {
    width: auto;
  }

  .main-footer-wrapper {
    width: 300px;
    padding: 60px 0 36px 0;
    column-gap: 20px;
    row-gap: 0px;
    grid-template-columns: 140px 140px;
    grid-template-rows: 145px 198px 241px 17px;
    grid-template-areas:
      "logo nav"
      "logos nav"
      "donate donate"
      "social social";
  }

  .footer-logo {
    width: 60px;
    height: 47px;
  }

  .promo-logos {
    margin-top: 0;
    gap: 20px;
    flex-direction: column;
    align-self: flex-start;
  }

  .yem-logo {
    width: 80px;
    order: 1;
  }

  .rs-logo {
    width: 84px;
    order: -1;
  }

  .footer-navigation-title {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
  }

  .footer-navigation-item a {
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 22px;
  }

  .donate-title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .donate-text {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }

  .donate-button {
    margin-top: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer-social {
    height: auto;
    margin-top: 0px;
    gap: 0;
    justify-content: space-between;
  }

  .footer-social-item a {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-copyrights {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 11px;
    line-height: 16px;
  }

  .container {
    width: 300px;
  }

}